html {
  font-family: sans-serif;
}

body {
  margin: 0;
}

header {
  background: rgb(52, 206, 142);
  height: 100px;
}

h1 {
  text-align: center;
  color: white;
  line-height: 100px;
  margin: 0;
}

article {
  padding: 10px;
  margin: 10px;
  background: rgba(16, 233, 215, 0.178);
}

.container1-3{
display: flex;
flex-direction: row;
}
.container4-6{
display: flex;
flex-direction: column-reverse;
}

.container4-10{
display: flex;
flex-direction: row-reverse;
}

.container7-10{
display: flex;
flex-direction: column;
}
.container7-8{
display: flex;
flex-direction: row;
height: 100%;
}

.container9-10{
display: flex;
flex-direction: row;
height: 100%;
}
