@keyframes vibration{
  from{
    margin-left: 50px;
  }
  to{
    margin-left: 70px;
  }
}

button {
  margin: 50px;
  font-size: 20px;
  background-color: red;
  animation-name: vibration;
  animation-duration: 500ms ;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-play-state: hover;
}

button:hover{
  background-color: green;
  animation-play-state: paused;
}

a{
  font-size: 20px;
  color: black;
  text-decoration: none;
  position: relative;
  display: inline-block;
}

a:hover{
  color: green;
}

a::after {
  content: '';
  position: absolute;
  left: 50%; 
  bottom: -2px;
  width: 0;
  height: 2px;
  background:green;
  transition: width 0.3s ease, left 0.3s ease;
}

a:hover::after {
  width: 100%;
  left: 0;
}


.ball{
  width: 50px;
  height: 50px;
  background-color: yellow;
  border: 3px solid black;
  border-radius: 50%;
  animation: drop 5s cubic-bezier(.70,0,1,1) infinite;
}


@keyframes drop{
0% {
    transform: translateY(0);
}
10% {
    transform: translateY(300px);
}
12% {
  transform: translateY(300px);
  height: 40px;
}
22%{
  transform: translateY(150px);
  height: 50px;
}
32% {
  transform: translateY(300px);
  height: 50px;
}
34% {
  transform: translateY(300px);
  height: 42px;
}
44% {
  transform: translateY(225px);
  height: 50px;
}
54% {
  transform: translateY(300px);
  height: 50px;
}
56% {
  transform: translateY(300px);
  height: 44px;
}
66% {
  transform: translateY(263px);
  height: 50px;
}
76% {
  transform: translateY(300px);
  height: 50px;
}
78% {
  transform: translateY(300px);
  height: 47px;
}
88% {
  transform: translateY(282px);
  height: 50px;
}
98% {
  transform: translateY(300px);
  height: 49px;
}
100%{
  transform: translateY(300px) scale(1);
}
}



